.row
  .col-md-3

  .col-md-9
    %h2 Juicios

    - @trials.each do |trial|
      .panel.panel-default
        .panel-body
          %h4= link_to trial.title, trial
          = render 'meta', trial: trial

          %p= trial.description


