%h3 Personas

%table.table.table-responsive.table.striped.table-hover
  %thead
    %tr
      %th #
      %th Nombre Completo
      %th No. Identidad
      %th
  %tbody
    - @people.each_with_index do |person, i|
      %tr
        %td= i + 1
        %td= link_to person.full_name, person
        %td= person.id_number
        %td

%hr