!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h5 #{@notification.actor.full_name}:
    %p= simple_format h @notification.notifiable.description

    %hr

    = link_to 'Ver en SCSJ', @url