- flash.each do |name, msg|
  - case name
  - when 'alert'
    = content_tag(:div, msg, class: 'alert alert-danger alert-dismissable')
  - when 'notice'
    = content_tag(:div, msg, class: 'alert alert-success alert-dismissable')
  - when 'success'
    .alert.alert-success.alert-dismissable
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %p
        %i.glyphicon.glyphicon-ok
        = msg
  - when 'danger'
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %p
        %i.glyphicon.glyphicon-remove
        = msg