%hr


.pull-left
  %ul.list-inline.small.text-muted
    %li © 2017 SCSJ

.pull-right
  %ul.list-inline.small
    %li= link_to 'Terminos', '#'
    %li= link_to 'Privacidad', '#'
    %li= link_to 'Acerca', '#'

%br
%br