.btn-toolbar
  .btn-group.btn-group-sm
    - if can? :edit, resource
      = link_to [:edit, resource], class: 'btn btn-default' do
        %i.fa.fa-pencil
        Editar
    - if can? :destroy, resource
      = link_to resource, method: :delete, data: { confirm: 'Esta seguro?' },
        class: 'btn btn-warning' do
        %i.fa.fa-trash
        Eliminar
