!!! 5

%html
  %head
    = render 'shared/head'

  %body
    = render 'shared/navbar'

    .container
      %br

      .row
        .col-md-12
          .panel.panel-default
            .panel-body
              .row
                .col-md-8.col-md-offset-2
                  = yield

      = render 'shared/footer'